* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url('drums.jpg');
  background-size: cover;
}

header, footer {
  color: white;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#mainPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: stretch;
  padding: 0 15%;
  background-color: rgba(255, 255, 255, 0.5);
}

#mainPanel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  z-index: -1;
}

#leftPanel, #rightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 5%;
}

#leftPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

#rightPanel {
  background-color: rgba(19, 160, 64, 0.7);
  border-radius: 10%;
  height: 60vh;
  margin-top: 8vh;
}

.drum-pad {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-size: 4em;
  transition: transform 0.1s ease;
}

.drum-pad.active {
  background-color: #058cfa;  
  transform: scale(0.90);  
}

#switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

#switch-container .switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
}

#switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switch-container .switch span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  cursor: pointer;
  transition: .4s;
  border-radius: 68px;
}

#switch-container .switch span::before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

#switch:checked + label span {
  background-color: #2196F3;
}

#switch:checked + label span::before {
  transform: translateX(52px);
}

#rightPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2em;
}

#volume-control {
  width: 300px;
  height: 10px;
  border-radius: 5px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 120px;
  outline: none;
}

#volume-slider {
  width: 100%;
  height: 10px;
  background: #ccc;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #fff; /* Main color */
  border: 5px solid #2196F3; /* Border color */
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s;
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px #2196F3; /* Creates the circle cutout effect */
}

#volume-slider::-webkit-slider-thumb:hover {
  background: #8a98e5;
  box-shadow: 0 0 0 5px #8a98e5, 0 0 0 10px #2196F3; /* Color when hovered */
}

#volume-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 5px solid #2196F3;
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s;
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px #2196F3;
}

#volume-slider::-moz-range-thumb:hover {
  background: #8a98e5;
  box-shadow: 0 0 0 5px #8a98e5, 0 0 0 10px #2196F3;
}

#volume-slider::-ms-thumb {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 5px solid #2196F3;
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s;
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px #2196F3;
}

#volume-slider::-ms-thumb:hover {
  background: #8a98e5;
  box-shadow: 0 0 0 5px #8a98e5, 0 0 0 10px #2196F3;
}
